@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/normalize";
@import "helpers/mixins";

img {
    width: 100%;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;

    ul {
        //width: 100%;
        height: 200px;
        padding: 0;
        margin: 0;
    
        position: relative;
        @extend %clearfix;
    }

    li {
        display: block;
        float: left;
        width: 25%;
        height: 100%;
        //margin: 1.5%;

        position: absolute;
        
        // for dev purposes only remove for dist
        $colors: red, blue, green, orange;

        @for $i from 1 through length($colors) {

            $color: nth($colors, $i);
            
            &:nth-of-type(#{$i}) {
                background-color: $color;
                background-image: url(http://lorempixel.com/400/200/sports/#{$i});
                background-repeat: no-repeat;
                background-position: center center;
                //background-size: cover;
            }
        }
    }
}

// don't show transition on active slider because we will see resize
ul:not(.slider-active) li {
    transition: all 1s;

    &.slide-active {
        width: 100%;
        left: 0 !important;
        z-index: 999;
    }
}

.slider-active {
    transition: transform .35s;
}

.slider-nav {
    li {
        &.slide-active {
            font-weight: bold;
        }
    }
}